%h2 Code Block

.form-container
  - form_for :code_block, @code_block, :url => code_blocks_path do |form|
    .main-container
      %label{ :for => 'title'}
        Title
      = form.text_field :title
      %label{ :for => 'code'}
        Code
      = form.text_area :code, :class => 'code_block-box'
      %label{ :for => 'code-type'}
        Code Type
      = form.select :code_type, options_for_select(@code_types), { :include_blank => true }
      = hidden_field_tag "snippet_id", params[:snippet_id]
      = submit_tag "Save"
