.subcategory-container
  .main-container
    %h2= @subcategory.to_s
    = @subcategory.name

  .submit-container
    = link_to 'Edit', edit_subcategory_path(@subcategory)
    
    = link_to 'Delete', subcategory_path(@subcategory), :confirm => 'Are you sure?', :method => :delete

%br  
  - @snippets.each do |snippet|
    %li.snippet= link_to(snippet.to_s, snippet_path(snippet))
