= error_messages_for(:snippet)
= render :partial => "shared/side_nav"
.form-container
  - form_for :snippet, @snippet, :url => snippets_path do |form|
    .main-container
      %label{ :for => 'name'}
        Title
      = form.text_field :name
      %label{ :for => 'description'}
        Snippet
      = form.text_area :description, "class" => 'snippet-box'
      %label{ :for => 'categories'}
      / = form.select :category, :category_id, :category.find(:all).collect { |c| [c.category, c.category_id] }
      
    .submit-container
      = submit_tag 'Submit'
.clear
