= error_messages_for(:snippet)
= render :partial => "shared/side_nav"

.form-container
  - form_for :snippet, @snippet, :url => snippets_path, :html => {:multipart => true} do |form|
    .main-container
      %label{ :for => 'name'}
        Title
      = form.text_field :name
      %label{ :for => 'description'}
        Snippet
      = form.text_area :description, "class" => 'snippet-box'
      = form.select "category_id", options_for_select(@categories.collect { |p| [p.name, p.id] }), {:include_blank=>true}

      = observe_field :snippet_category_id, :url => fetch_subcategories_snippets_path, :update => :snippet_subcategory_id, :with => " 'category_id='  + $('snippet_category_id').value"

      - # FIXME: The subcat listing needs to be dynamically created after a cat is chosen
      = form.select "subcategory_id", options_for_select([])
      
      = file_field_tag "image"
      
      .submit-container
        = submit_tag 'Submit'
.clear
