= render :partial => "shared/side_nav"
.snippet-container
  .main-container
    %h2= @snippet.to_s
    %textarea.code-container{ :readonly => "readonly" }
      = @snippet.description
  .submit-container
    = link_to 'Edit', { :action => 'edit', :id => @snippet }
    |
    = link_to 'Delete', { :action => 'destroy', :id => @snippet }, :confirm => 'Are you sure?', :method => :delete

  - @images.each do |image|
    = image_tag image.image_file.url
    = link_to 'Delete', { :action => 'destroy', :id => image.id }, :confirm => 'Are you sure?', :method => :delete

.clear  
